.git
.gitignore
.gitattributes
*.md
target/
!target/devops_project-*.jar
.mvn/
mvnw
mvnw.cmd
frontend/
!frontend/nginx.conf
frontend/node_modules
frontend/dist
docker-compose.yml
Dockerfile
.github/
ansible/
argocd/
kubernetes/
terraform/
k6/
*.log
.DS_Store
Thumbs.db
